@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open-Sans-italic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html {
    min-width: 1190px;
    background: #eaedef;
}
body {
    margin:0;
    color:#383838;
    font:12px 'Open-Sans', Arial, Helvetica, sans-serif;
    text-shadow: none;
    background:#f6f6f6 url('../images/bg-body.jpg');
}
img {border-style:none;}
a,
a:visited {
    color:#6691e7;
    text-decoration:none;
}
a:hover {text-decoration:underline;}
h1, h2, h3, h4, h5 {
    font-family: 'Open-Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h2 {
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #d36e32;
}
em {
    font-family: 'Open-Sans-italic', Arial, sans-serif;
    font-style: normal;
}
.align-right {
    float: right;
}
.align-left {
    float: left;
}
.justify {
    text-align: justify;
}
.justify:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.h-separator {
    border-top:2px solid #5594db;
    height: 0;
    margin: 10px 0;
}
hr {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    border: 0;
    background: #5594db;
}
/* Default forms */
#wrapper {
    position: relative;
    width:100%;
    min-width: 1000px;
    overflow: hidden;
}
#wrapper-inner {
    width:980px;
    margin: 0 auto;
}

#head {
    padding: 9px 7px;
}
#head:after {
    content:'';
    display: block;
    clear: both;
    overflow: hidden;
}
.logo {
    float: left;
    margin: 21px 10px 0 0;
    width: 224px;
    height: 48px;
    background: url('../images/logo.png') no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
.head-banner {
    float: right;
    width:734px;
    margin: 0 -7px 0 0;
    overflow: hidden;
}
.head-banner img {
    vertical-align: top;
}
.panel {
    width:100%;
    /* 9999/-9999 values are used to imitate full width panel */
    padding:13px 9999px 13px;
    margin:0 -9999px 22px;

    background: #eaedef;
}
.panel:after {
    content:'';
    display: block;
    clear: both;
    overflow: hidden;
}
.inline-form {
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin: 0 20px 0 4px;
}
.inline-form label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-size: 100%;
    font-weight: normal;
}
.inline-form input[type="text"],
.inline-form input[type="password"] {
    display: inline-block;
    vertical-align: middle;
    width: 134px;
    height: 16px;
    margin: 0 15px 0 0;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1em;
    border-color: #8497ac;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.inline-form a {
    display: inline-block;
    vertical-align: middle;
    color: #3c4657;
    font-family: 'Open-Sans-bold', Arial, sans-serif;
}
.inline-form input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    min-width: 60px;
    height: 28px;
    padding: 0 5px;
    margin: 0 15px 0 0;
    color: #3c4657;
    font-size: 14px;
    line-height: 14px;
    text-shadow: none;
    border:0;
    background: #cad2d7;
}
.link-group {
    display: inline-block;
    padding: 1px 4px 1px 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Open-Sans-bold', Arial, Helvetica;
}
.link-group li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.link-group li:before {
    content:'| ';
    margin: 0 5px;
}
.link-group li:first-child:before {
    display: none;
}
.link-group a {
    color:#5b6476;
}
.services {
    float: right;
    margin: -3px 0 -3px 10px;
}
.services select {
    float: left;
    width: auto;
    min-width: 125px;
    max-width: 150px;
}
.services .select-area {
    float: left;
}
.services .link {
    float: left;
    margin: 7px 0 0 20px;
    color: #3c4657;
    font-family: 'Open-Sans-bold', Arial, Verdana, sans-serif;
    font-size: 14px;
}
.profile-panel {
    text-align: center;
}
.profile-info {
    float: left;
    margin: 5px 0 0;
    text-align: left;
    font-size: 14px;
}
.profile-info .name {
    display: inline-block;
    vertical-align: top;
    max-width: 100px;
    margin: 0 4px 0 0;
    font-family: 'Open-Sans-bold', Arial, sans-serif;
    color: #2f5887;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-info .name a {
    color: #2f5887;
}
.profile-info .ico-email {
    margin: 0 0 3px;
}
.profile-info .messages a:hover {
    text-decoration: none;
}
.profile-info .balance {
    margin: 0 0 0 25px;
}
.profile-info .balance b {
    color: #5696de;
    font-family: 'Open-Sans-bold', Arial, sans-serif;
}
/* ICONS */
.ico {
    display: inline-block;
    vertical-align: middle;
    background: url('../images/icons.png') no-repeat -200px -200px;
}
.ico-buy {
    width:24px;
    height:23px;
    background-position: 0 0;
}
.active .ico-buy {background-position: 0 -27px;}
.ico-sell {
    width: 24px;
    height: 23px;
    background-position: -28px 0;
}
.active .ico-sell {background-position: -28px -27px;}
.ico-search {
    width:23px;
    height:22px;
    background-position: -75px 0;
}
.active .ico-search {background-position: -75px -27px;}
.ico-email {
    width: 26px;
    height: 17px;
    background-position: 0 -54px;
}

/* TABS WIDGET */
.tab-widget{
    margin: 0 0 36px;
}
.tab-widget > ul {
    margin: 0 0 -4px;
    padding: 0 0 2px;
    list-style: none;
    overflow: hidden;
}
.tab-widget > ul li {
    float: left;
    min-width: 120px;
    height: 29px;
    padding: 4px 10px;
    margin: 0 2px 0 0;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    border: 2px solid #d5d8da;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    background: #fff;
    cursor: pointer;
}
.tab-widget .search-tab {
    float: right;
    margin: 0;
}
.tab-widget > ul li:hover {
    background: #eaeaea;
}
.tab-widget > ul li.active {
    position: relative;
    z-index: 2;
    font-family:'Open-Sans-bold', Arial, Helvetica;
    font-size: 18px;
    border-color: #5594db;
    border-bottom-color: #eaeaea;
    background: #eaeaea;
}
.tab-widget > ul .search-tab.active {
    color: #d03939;
}
.tab-widget > ul li.active:first-child:before,
.tab-widget > ul li.active:last-child:after {
    content: '';
    position: absolute;
    top:100%;
    left:-2px;
    width:2px;
    height:2px;
    border-left:2px solid #5594db;
    background: #eaeaea;
}
.tab-widget > ul li.active:last-child:after {
    left:auto;
    right:-2px;
    border-left:0;
    border-right:2px solid #5594db;
}
.tab-widget > ul .ico {
    float: left;
    margin: 3px 5px 0 5px;
}
.tab-widget .tabs-holder {
    position: relative;
    padding: 13px 0 10px;
    border: 2px solid #5594db;
    border-radius:4px;
    background: #eaeaea;
    overflow: hidden;
}
.tab-widget .tab {
    padding: 0 10px;
}
/* Custom form */
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="tel"] {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 18px;
    margin: 0;
    padding: 6px 5px;
    font-family: 'Open-Sans-bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #3c4657;
    border:2px solid #5594db;
    border-radius: 4px;
    background: #fff;
}
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="tel"]:focus {
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
            box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
}
.form input[type="text"].size-s,
.form input[type="password"].size-s,
.form input[type="email"].size-s,
.form input[type="tel"].size-s {
    width:58px;
}
.form input[type="text"].size-xs,
.form input[type="password"].size-xs,
.form input[type="email"].size-xs,
.form input[type="tel"].size-xs {
    width:48px;
    padding: 6px 2px;
}
.form input[type="text"].size-m,
.form input[type="password"].size-m,
.form input[type="email"].size-m,
.form input[type="tel"].size-m {
    width:88px;
}
.form input[type="text"].size-fw,
.form input[type="password"].size-fw,
.form input[type="email"].size-fw,
.form input[type="tel"].size-fw {
    width:100%;
    height: 34px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.form button::-moz-focus-inner {
    padding: 0;
    border: 0
}
.form button {
    margin: 0;
    padding: 10px;
    font:18px/24px 'Open-Sans-bold', Arial, Helvetica, sans-serif;
    text-shadow: none;
    color: #fff;
    border:2px solid #2f68a8;
    border-radius: 7px;
    background: #5594db;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.form button[type="reset"] {
    padding: 5px 10px;
    color: #6e6e6e;
    border-color: #b4b4b4;
    background: #f4f5f7;
}
.form select {
    width: 194px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.form label,
.form input[type="radio"],
.form input[type="checkbox"]{
    display: inline-block;
    vertical-align: middle;
}
.form label {
    margin: 0 5px 0 0;
    font-size: 14px;
    font-family: 'Open-Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.form input[type="radio"],
.form input[type="checkbox"] {
    margin: 0 3px;
}
.form .field > label {
    display: block;
    margin: 0 5px 4px;
    font-size: 12px;
}
.form .row {
    margin: 0 0 10px;
}
.form .opt-group {
    margin: 6px 20px 5px 0;
    list-style: none;
    float: left;
}
.form .opt-group label {
    font-family: 'Open-Sans-bold', Arial, Helvetica, sans-serif;
}
.form .opt-group li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.form .opt-group.justify {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
}
.form .opt-group.justify li {
    margin: 0;
}
.form .size-field {
    text-align: justify;
    padding: 7px 0 0;
}
.form .size-field:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.form .price-calc.size-field {
    padding: 0;
}
.form .size-field > div {
    display: inline-block;
    vertical-align: bottom;
}
.form .size-field > span,
.form .date-period > span {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    min-width:9px;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    font-family: 'Open-Sans-bold', Arial, Helvetica, sans-serif;
}
.form .size-field label {
    position: relative;
    left:50%;
    margin: 0 0 4px -65px;
    width:130px;
    display: block;
    font-size: 12px;
    text-align: center;
}
.form .size-field input {
    text-align: center;
}
.form .size-field .group > div {
    display: inline-block;
    vertical-align: bottom;
}
.form .size-field .group > div:first-child {
    margin: 0 3px 0 0;
}
.form .price-calc.size-field span {
    display: inline-block;
    font-family: 'Open-Sans-bold', sans-serif;
}
.form .date-period {
    padding: 19px 0 0;
}
.form .date-period label {
    font-size: 14px;
}
.form .date-period input[type="text"] {
    width: 90px;
}




.form-order {
    position: relative;
}
.form-order .product-type {
    padding-right: 8px;
}
.form-order .quantity {
    float: right;
}
.form-order .quantity input {
    text-align: center;
}
.form-order .area-brand {
    float: left;
    width: 402px;
    margin: 0 -2px 0 0;
    padding: 0 20px 0 0;
    border-right: 2px solid #5594db;
}
.form-order .area-type {
    padding: 0 8px 0 27px;
    border-left: 2px solid #5594db;
    overflow: hidden;
}
.form-order .order-options {
    width: 780px;
    min-height: 188px;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-right: 2px solid #5594db;
}
.form-order .address-fields {
    padding: 0 8px 0 0;
}
.form-order .address-fields .row {
    margin: 0;
}
.form-order .address-fields .row .field {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
.form-order input.phone {
    width: 145px;
}
.order-submit {
    position: absolute;
    top:0;
    right: 8px;
    width: 138px;
    height: 100%;
    text-align: center;
    white-space: nowrap;
}
.order-submit:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 -3px 0 0;
}
.order-submit button {
    width: 138px;
    white-space: normal;
}
.form-filter {
    position: relative;
    margin: 0;
    overflow: hidden;
}
.form-filter .area-brand {
    float: left;
    width: 402px;
    min-height: 141px;
    margin: 0 -2px 0 0;
    padding: 8px 20px 0 0;
    border-right: 2px solid #5594db;
}
.form-filter .area-type {
    float: left;
    width: 322px;
    min-height: 141px;
    padding: 8px 20px 0;
    border-left: 2px solid #5594db;

}
.form-filter .opt-group {
    float: none;
    margin-bottom: 19px;
}
.form-filter .buttons-set {
    min-height: 134px;
    padding: 15px 0 0 17px;
    border-left: 2px solid #5594db;
    overflow: hidden;
}
.form-filter .buttons-set button {
    width: 100%;
}
.form-filter button[type="reset"] {
    margin: 0 0 30px;
}
/* MAIN TABS */
.tabs {
    padding: 0 0 10px;
}
.tabs > ul {
    padding: 0 20px 2px;
    margin: 0 0 -4px;
    overflow: hidden;
}
.tabs > ul li {
    float: right;
    width: 439px;
    height: 47px;
    padding: 0 10px;
    margin: 0;
    color: #aaa;
    text-align: center;
    font: 24px/45px 'Open-Sans', Arial, Helvetica, sans-serif;
    background: url('../images/bg-tabs.png') no-repeat;
    cursor: pointer;
}
.tabs > ul li:first-child {
    float: left;
}
.tabs > ul li.active {
    position: relative;
    z-index: 2;
    color: #d36e32;
    background-position: 0 -54px;
}
.tabs > ul a {
    font-size: 16px;
    margin: 0 0 0 4px;
    vertical-align: baseline;
    color: #aaa;
}
.tabs > ul li.active a {
    color: #6691e7;
    text-decoration: underline;
}
.tabs > ul li.active a:hover {
    text-decoration: none;
}
.tabs .tabs-holder {
    padding: 10px 7px 0;
    background: url('../images/bg-tab-content.png') no-repeat -1px 0;
    overflow: hidden;
}
/* Product list */
.product-list {
    width:994px;
    padding: 0 0 10px 7px;
    overflow: hidden;
}
.tabs .product-list {
    padding: 0;
}
.product-list .product {
    float: left;
    margin-right: 10px;
}
.product {
    position: relative;
    width: 464px;
    height: 130px;
    padding: 5px;
    margin-bottom: 10px;
    background: #fff;
    border:2px solid #abd3ff;
    border-radius: 4px;
}
.product h2,
.product h3 {
    margin: 0;
    font: 18px/24px 'Open-Sans-bold', Arial, sans-serif;
    color: #5076c7;
}
.product h3 a {
    color: #5076c7;
}
.product .img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
    text-align: center;
    overflow: hidden;
}
.product .img img {
    vertical-align: top;
}
.product .short-info {
    overflow: hidden;
}
.product table {
    float: left;
    width: 200px;
    margin: 5px 0 0;
    border-collapse: collapse;
}
.product table td {
    padding: 0 5px 5px 0;
}
.product table td + td {
    padding-left: 5px;
}
.price {
    float: right;
    min-width: 120px;
    max-width: 144px;
}
.price .qty {
    font-size: 14px;
}
.price .qty b {
    font-size: 18px;
    vertical-align: baseline;
    font-family: 'Open-Sans-bold', Arial, sans-serif;
    font-weight: normal;
}
.price .price-value {
    font-size: 22px;
    font-family: 'Open-Sans-bold', Arial, sans-serif;
    color: #e4675e;
}
.product .season {
    clear: left;
    float: left;
    padding: 5px 0 0;
}
.product .season img {
    vertical-align: top;
    margin: 0 5px 0 0;
}

/* Products filter */
.tab-widget + .panel.filter {
    margin-top: -21px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.filter-fields {
    float: right;
    margin: 0 7px;
}
.filter-fields select {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    min-width: 90px;
    margin: 0 0 0 12px;
}
.filter-fields .select-area {
    margin: 0 0 0 12px;
}
.panel h2 {
    margin: 0 7px;
    text-align: left;
}


/* WIDGETS Common Styles*/
.widget {
    margin: 0 auto 25px;
    padding: 16px;
    background: #eaeaea;
    border: 2px solid #5594db;
    border-radius: 4px;
}
.widget:after {
    content:'';
    display: block;
    clear: both;
    overflow: hidden;
}
.widget.registration {
    width: 660px;
    padding: 23px;
}
.registration .form {
    margin: 0;
}
.registration .select-user-type {
    display: block;
    float: none;
    margin: 7px 0 23px;
    text-align: center;
}
.registration .select-user-type li {
    margin: 0 15px;
}
.registration table {
    border-collapse: collapse;
}
.registration table td {
    padding: 8px 5px 8px;
    vertical-align: middle;
}
.registration table tr td:first-child {
    text-align: right;
}
.registration .row-submit {
    text-align: center;
    margin: 45px 0 17px;
}
.registration .user-agreement {
    padding: 60px 0 0;
    text-align: right;
}
.registration .user-agreement label {
    font-size: 12px;
    display: inline;
}
.registration .user-agreement a {
    text-decoration: underline;
    color: #3c4657;
}
.registration .user-agreement a:hover {
    text-decoration: none;
}
.two-columns {
    position: relative;
    margin: 32px 0 40px;
}
.two-columns:before {
    content: '';
    position: absolute;
    width:2px;
    top:0;
    bottom: 0;
    left:50%;
    margin: 16px 0 10px -1px;
    background: #5594db;
}
.two-columns:after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
.two-columns > div {
    float: left;
    width: 50%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.two-columns h3 {
    font-size: 18px;
    line-height: 22px;
    color: #3c4657;
    text-align: center;
}
.block {
    padding: 0 0 40px;
}
.table-legend {
    margin: 0 30px 20px;
    text-align: right;
}
.table-legend li {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 0 0 30px;
}
.table-legend .color {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin: 0 5px 0 0;
}
.table-legend .more {
    background: #f7b5d3;
}
.table-legend .less {
    background: #aadc81;
}
.table {
    width: 100%;
    margin: 0 0 20px;
    border-collapse: separate;
    border: 1px solid #dfdfdf;
    border-radius: 4px 4px 0 0;
}
.table th,
.table td {
    padding: 12px 5px;
    font:12px/15px Verdana, Geneva, sans-serif;
    color: #000;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dfdfdf;
    background: #f8f9fb;

}
.table .more td {
    background: #f7b5d3;
}
.table .less td {
    background: #aadc81;
}
.table th {
    padding: 10px 5px;
    font-size: 10px;
    line-height: 13px;
    color: #3c4657;
    background: #bdc1c5;
}
.table .left-alignment {
    text-align: left;
}
.table .col-name {
    width: 310px;
}
.table .col-id {
    width: 26px;
}
button.edit,
button.delete {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    padding: 0;
    background: url('../images/icons.png') no-repeat 0 -83px;
    border: 0;
    text-indent: -1000px;
    overflow: hidden;
}
button.delete {
    background-position: -26px -83px;
}
.table a {
    color: #1e77bc;
    padding: 0 0 2px;
    border-bottom: 1px dashed #1e77bc;
}
.table a:hover {
    border-bottom: 0;
    text-decoration: none;
}
.block.wide {
    width: 1180px;
    margin: 0 -100px;
}
.table.price-grid {
    margin: 0 0 40px;
}
.table.price-grid td {
    text-align: left;
    padding: 12px 8px;
}
.table.price-grid .col-id {
    text-align: center;
}
.table .col-provider {
    width: 250px;
}
.table .col-brand {
    width: 150px;
}
.sortable {
    position: relative;
    padding: 0 10px;
    cursor: pointer;
}
.sortable:after {
    content: '';
    display: none;
    position: absolute;
    top:50%;
    right:0;
    margin: -3px 0 0;
}
.sortable.desc:after {
    display: block;
    border-top:6px solid #6e6362;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
.sortable.asc:after {
    display: block;
    border-bottom:6px solid #6e6362;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}


.text-block {
    padding: 0 10px;
    font-size: 15px;
    color: #767676;
}
.text-block p {
    margin: 0 0 15px;
}
.tyre-calc > ul li {
    width: 465px;
    margin: 0 0 0 2px;
}
.tyre-calc > ul li:first-child {
    margin: 0;
}
.tyre-calc .tab {
    overflow: hidden;
}
.tyre-calc .col-options {
    float: left;
    width: 50%;
    margin: 0 -2px 0 0;
    padding: 0 10px 0 0;
    border-right: 2px solid #5594db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tyre-calc .col-options + .col-options {
    padding: 0 0 0 10px;
    border-right: 2px solid #5594db;
    border-right: 0;
}
.tab-title {
    margin: 0 0 9px;
    padding: 3px 10px 4px;
    text-align: center;
    font: 16px/20px 'Open-Sans-bold', Arial, sans-serif;
    color: #fff;
    background: #5594db;
    border-radius: 4px;

}
.tyre-calc .check-item label {
    font-family: 'Open-Sans-bold', sans-serif;
}
.tyre-calc .two-columns {
    margin: 0 0 14px;
}
.tyre-calc .two-columns > div {
    padding: 7px 15px 0 10px;
}
.tyre-calc .two-columns > div + div {
    padding: 7px 10px 0 15px;
}
.tyre-calc .two-columns:before {
    margin: 0 0 0 -1px;
    background: #cdcdcd;
}
.tyre-calc .size-field {
    height: 58px;
}
.tyre-calc .size-field > div {
    width: 57px;
}
.tyre-calc .size-field input {
    text-align: center;
}
.tyre-calc .field select {
    width: 208px;
}
.tyre-calc .visual {
    width: 390px;
    margin: 0 auto;
    text-align: center;
}
.tyre-calc .visual img {
    vertical-align: top;
}
.tyre-calc .summary {
    padding: 20px 8px 0;
}
.table-summary {
    width: 100%;
    border-collapse: collapse;
}
.table-summary td,
.table-summary th {
    padding: 5px;
}
.table-summary thead th {
    font: 16px/19px 'Open-Sans-bold', Arial, sans-serif;
    color: #fff;
    font-weight: normal;
    background: #5594db;
}
.table-summary thead tr th:first-child {
    background: #3c4657;
}
.table-summary tbody td + td,
.table-summary thead th + th + th {
    border-left: 2px solid #fff;
}
.table-summary tbody tr {
    background-color: #cfcfce;
}
.table-summary tbody th {
    font-size: 14px;
    text-align: right;
    color: #2e2e2e;
    font-weight: normal;
}
.table-summary tbody td {
    color: #2e2e2e;
    font-size: 14px;
    text-align: center;
}
.table-summary tbody td[colspan="3"] {
    height: 10px;
}
.table-summary tbody tr th {
    background: #dcdcdc;
}
.table-summary tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
.table-summary tbody tr:nth-child(even) th {
    background: #f0f0f0;
}
.table-summary .speed td {
    background: #3c4657;
    color: #fff;
}
.table-summary .speed td,
.table-summary .clearance td{
    text-align: left;
}
/* FOOTER */
#footer {
    display: block;
    padding: 7px 9999px 45px;
    margin: 0 -9989px;
    background: #eaedef;
}
#footer:after {
    content:'';
    display: block;
    clear: both;
    overflow: hidden;
}
#footer .link-group {
    float: left;
    padding: 8px 0 0;
    font-size: 14px;
    font-family: 'Open-Sans', Arial, sans-serif;
    color: #3c4657;
}
#footer .link-grou a {
    color: #3c4657;
}
.social {
    float: right;
    margin: 0;
}
.social li {
    float: left;
    margin: 0 0 0 12px;
}
.ico-facebook,
.ico-twitter {
    width: 32px;
    height: 31px;
    background-position: -248px 0;
    text-indent: -999px;
    overflow: hidden;
}
.ico-twitter {
    background-position: -248px -43px;
}
.link-to-top {
    position: absolute;
    left:50%;
    bottom:100px;
    margin: 0 0 0 510px;
    color: #afbcdb;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
}
.link-to-top:visited {
    color: #afbcdb;
}
.link-to-top:hover {
    color: #1188f7;
    text-decoration: none;
}
.link-to-top:before {
    content: '';
    display: block;
    width: 57px;
    height: 30px;
    background: url('../images/icons.png') no-repeat -284px 0;
}
.link-to-top:hover:before {
    background-position: -284px -43px;
}

/* LIGHT-BOX */
#fancybox-content article {
    padding: 9px;
    color: #5b5b5b;
    font-size: 14px;
    overflow: hidden;
}
#fancybox-content h1,
#fancybox-content h2 {
    margin: 0 0 12px;
    padding: 0 0 10px;
    font: 24px/30px 'Open-Sans-bold', Arial, sans-serif;
    border-bottom: 2px solid #bec2c6;
    color: #5076c7;
}
.image-set {
    float: left;
    margin: 0 30px 0 6px;
    width: 350px;
}
.image-set .image {
    width: 100%;
    height: 350px;
    text-align: center;
    overflow: hidden;
}
.image-set .image img {
    vertical-align: top;
    max-width: 100%;
}
.image-set .thumbnails {
    padding: 22px 0 0;
    overflow: hidden;
}
.image-set .thumb {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 25px;
    overflow: hidden;
}
.image-set .thumbnails .thumb:first-child {
    margin: 0;
}
#fancybox-content .details {
    padding: 0 20px 0 0;
    overflow: hidden;
}
#fancybox-content .price {
    float: none;
    width:100%;
    max-width:100%;
    margin: 0 0 25px;
    overflow:hidden;
}
#fancybox-content .price .qty {
    float:left;
    padding:6px 0 0;
}
#fancybox-content .price .price-value {
    float:right;
}
#fancybox-content strong {
    color: #5b5b5b;
}
#fancybox-content p {
    margin: 0 0 15px;
}
.link-email {
    display: block;
    height: 36px;
    padding: 0 10px;
    margin: 0 0 18px;
    text-align: center;
    color: #fff;
    font:16px/36px 'Open-Sans-bold', Arial, sans-serif;
    background: #5594db;
    border-radius: 4px;
}
.link-email:hover {
    color: #fff;
}
#fancybox-content table {
    width: 100%;
    margin: 0 0 20px;
    border-collapse: collapse;
}
#fancybox-content table td,
#fancybox-content table th {
    padding: 5px 10px;
    color: #5b6476;
    text-align: left;
    background: #e8e6e3;
}
#fancybox-content table td {
    border-left: 2px solid #fff;
    font-family: 'Open-Sans-bold', sans-serif;
}
#fancybox-content table tr:nth-child(even) td,
#fancybox-content table tr:nth-child(even) th {
    background: #efede9;
}
.recommend-it {
    margin: 0 0 20px;
    text-align: right;
}
.recommend-it > span {
    display:inline-block;
    vertical-align:bottom;
    width: 135px;
    padding: 0 0 3px;
    text-align: left;
}
.recommend-it .votes {
    display:inline-block;
    vertical-align:bottom;
    width: 130px;
    text-align: left;
}
.recommend-it .like,
.recommend-it .dislike {
    position: relative;
    float:left;
    width:65px;
    height: 84px;
}
.recommend-it .like {
    color: #8cb82d;
}
.recommend-it .dislike {
    color: #d35454;
}
.recommend-it .like:after {
    content: '';
    position: absolute;
    right:-1px;
    bottom: 0;
    height: 50px;
    width: 1px;
    background: #d0d0d0;
}
.recommend-it .like > span,
.recommend-it .dislike > span {
    display: block;
    padding: 0 5px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.recommend-it .like > span {
    margin: 0 0 0 -15px;
}
.recommend-it .dislike > span {
    margin: 0 -15px 0 0;
}
button.like-it,
button.dislike-it {
    position: absolute;
    left:0;
    bottom: 0;
    width: 45px;
    height: 39px;
    margin: 0;
    padding: 0;
    background: url('../images/icons.png') no-repeat -150px 0;
    border:0;
    text-indent: -1000px;
    overflow: hidden;
}
button.like-it:hover {
    background-position: -150px -43px;
}
button.dislike-it {
    left:auto;
    right:0;
    background-position: -199px 0;
}
button.dislike-it:hover {
    background-position: -199px -43px;
}
.reviews {
    text-align: right;
}
.reviews a {
    color: #4080cf;
    text-decoration: underline;
}
.reviews a:hover {
    text-decoration: none;
}