RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^system/$ index.php?view=admin_panel [L]
RewriteRule ^system/([a-z0-9\.\-_]*)/$ index.php?view=admin_panel&load=$1 [L]